<h2>Inscription</h2>

<div class="container-fluid">

  <div class="span5">
    <h2><small>Créer vos propres identifiants...</small></h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
          <div><%= f.label :email %><br />
            <%= f.email_field :email %></div>

          <div><%= f.label :password %><br />
            <%= f.password_field :password %></div>

          <div><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %></div>

          <div><%= f.submit "Sign up" %></div>
      
      <% end %>
   
    <%= render "devise/shared/links" %>
  </div>
  <div class="span7">
    <h2><small>...utiliser l'un de vos comptes existants parmi les services suivants :</small></h2>

    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "/img/facebook_128.png", :size => "128x128", :alt => "Facebook" %>
      Facebook
    </a>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "/img/google_128.png", :size => "128x128", :alt => "Facebook" %>
      Google
    </a>
    <a href="/auth/facebook" class="auth_provider" >
      <%= image_tag "/img/linkedin_128.png", :size => "128x128", :alt => "Facebook" %>
      LinkedIn
    </a>
  </div>

</div>
