

<%= form_for @webapp, :html => {:multipart => true,:class => 'full'} do |f| %>

  <%= render 'shared/error_messages' %>
  <legend>Soumettez un WebSite</legend>
  <div class="row-fluid">
    <div class="offset3 span12">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title ,:class => "input-xlarge"%>
      </div>


      <div class="field">
        <%= f.label :url %>
        <%= f.text_field :url ,:class => "input-xlarge"%>
      </div>


      <div class="field">
        <%= f.label :caption %>
        <%= f.text_field :caption, :class => "input-xlarge" %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, :class => "input-xxlarge" %>
      </div>
      <% if current_user.try(:admin?) %>
        <div class="field">
          Validé <%= f.check_box :validate %>
        </div>

        <div class="field">
          Promotion <%= f.check_box :promoted %>
        </div>

        <div class="field">
          Suggestion <%= f.check_box :suggested %>
        </div>
      <% end %>
      <div>
        <%= f.label :tag_list, "Tags (séparé par virgules)" %>
        <%= f.text_field :tag_list, :class => "input-large" %>
      </div>

      <div class="field">
        Photo <%= f.file_field :photo %>
      </div>

      <div class="actions">
        <%= f.submit :class => "btn btn-primary btn-default" %>

      </div>
    </div>
  <% end %>
</div>
