
<% index = -1
tags = type.split("+")
websites = []
tags.each { |tag|
  websites += websites_by_tag(tag)
}

%>
<%if size==2%>
  <ul class="thumbnails">
    <% 2.times do |i|%>
      <% if (index+1<websites.length) %>
        <li class="span6">
          <%=  render :partial => "webapps/preview_website_box", :locals => { :website =>websites[index = index+1] }%>
        </li>
      <%end%>

    <%end%>
  </ul>
<%elsif size==3%>
  <ul class="thumbnails">
    <% 3.times do |i|%>
      <% if (index+1<websites.length) %>
        <li class="span4">
          <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website =>websites[index = index+1] }%>
        </li>
      <%end%>
    <%end%>
  </ul>
<%elsif size==4%>
  <ul class="thumbnails">
    <% 2.times do |i|%>
      <% if (index+1<websites.length) %>
        <li class="span6">
          <%=  render :partial => "webapps/preview_website_box", :locals => { :website =>websites[index = index+1] }%>
        </li>
      <%end%>

    <%end%>
  </ul>
  <ul class="thumbnails">
    <% 2.times do |i|%>
      <% if (index+1<websites.length) %>
        <li class="span6">
          <%=  render :partial => "webapps/preview_website_box", :locals => { :website =>websites[index = index+1] }%>
        </li>
      <%end%>
    <%end%>
  </ul>
<%elsif size==5%>
  <ul class="thumbnails">
    <% 2.times do |i|%>
      <% if (index+1<websites.length) %>
        <li class="span6">
          <%=  render :partial => "webapps/preview_website_box", :locals => { :website =>websites[index = index+1] }%>
        </li>
      <%end%>

    <%end%>
  </ul>
  <ul class="thumbnails">
    <% 3.times do |i|%>
      <% if (index+1<websites.length) %>
        <li class="span4">
          <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website =>websites[index = index+1] }%>
        </li>
      <%end%>
    <%end%>
  </ul>
<%else%>
<ul class="thumbnails">
    <% 3.times do |i|%>
      <% if (index+1<websites.length) %>
        <li class="span4">
          <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website =>websites[index = index+1] }%>
        </li>
      <%end%>
    <%end%>
  </ul>
<ul class="thumbnails">
    <% 3.times do |i|%>
      <% if (index+1<websites.length) %>
        <li class="span4">
          <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website =>websites[index = index+1] }%>
        </li>
      <%end%>
    <%end%>
  </ul>
<%end%>
