

<% if website_counter==0 %>
  <h5 id="nbresult_search" style="margin-bottom: 5%"> <%=pluralize(@nb_results,"résultat")%>... </h5>
  <hr>
  <div id="content">
    <ul id="websites_grid">
    <% end %>

    <li class="website_preview" >
      <div class="thumbnail">
        <%= link_to image_tag(website.photo.url(:small),:size=>"500x500",:alt => "image site") , "#", :class=>"websiteTitle" , :data=>{:toggle=>"modal"}, :websiteId=>website.id%>
        <div class="caption">
          <div class="row-fluid">
            <div class="span2">
              <%  if (website_counter<3)
                label_style= "success"
              else label_style="info"
              end %>
              <span class="badge badge-<%=label_style%>"> <%=  website_counter+1 %></span>
            </div>
            <div class="span8">

              <strong><a class="websiteTitle" websiteId="<%= website.id %>" href="" data-toggle="modal"><%= tronc_caption website.title,12 %></a> </strong>
            </div>

            <div class="span5" style="margin-right:-50px;">
              <%=  render :partial => "shared/star_rating", :locals => { :n => website.average_rate }%>
            </div>
          </div>
          <div class="row-fluid" >
            <div class="span12">
              <small> <%= tronc_caption website.caption , 120 %> </small>
            </div>
          </div>
          <div class="row-fluid" style="margin-bottom:0%;">
            <div class="span12">

              <div class=" icon-tag" style="margin-top:2%;"></div>
              <span class="label-tag small"> <%= link_to tronc_caption(website.tags[0].name, 15), tag_webapps_path(website.tags[0]), :title=>website.tags[0].name if website.tags[0] != nil %></span>
              <span class="label-tag small"> <%= link_to tronc_caption(website.tags[1].name, 15), tag_webapps_path(website.tags[1]), :title=>website.tags[1].name if website.tags[0] != nil %></span>
              <%if !website.vimeo_id.blank?%>
                <div class="icon-video" title="Vidéo de présentation disponible" style="margin-top:2%;">  <i class="icon-camera"></i></div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </li>



    <% if website_counter==@nb_results-1 %>

    </ul>
  </div>

<% end %>
