

<% if website_counter==0 %>
  <h5 id="nbresult_search" style="margin-bottom: 5%"> <%=pluralize(@nb_results,"résultat")%>... </h5>
  <hr>
  <div id="content">
    <ul id="websites_grid">
    <% end %>

    <li class="website_preview" >
      <div class="thumbnail" >
        <div class="row-fluid" >
          <div class="span11">
            <a class="show">
              <%= link_to image_tag(website.photo.url(:small), :class =>"img-rounded", :alt => "image site") , "#", :class=>"websiteTitle" , :data=>{:toggle=>"modal"}, :websiteId=>website.id, :style=>"margin-bottom:0px;"%>
                <div class="row-fluid">
                <div class="span2">
                  <%  if (website_counter<3)
                    label_style= "success"
                  else label_style="info"
                  end %>
                  <span class="badge badge-<%=label_style%>"> <%=  website_counter+1 %></span>
                </div>
                <div class="span8">

                  <strong><a class="websiteTitle" websiteId="<%= website.id %>" href="" data-toggle="modal"><%= tronc_caption website.title,12 %></a> </strong>
                </div>

                <div class="span5" style="margin-right:-50px;">
                  <%=  render :partial => "shared/star_rating", :locals => { :n => website.average_rate }%>
                </div>
              </div>
              <div class="row-fluid" >
                <div class="span12">
                  <small> <%= tronc_caption website.caption , 80 %> </small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </li>



    <% if website_counter==@nb_results-1 %>

    </ul>
    </div>

<% end %>
