<%#
## Website preview for display on search result
%>
<% if website_counter==0 %>
<h5 id="nbresult_search" style="margin-bottom: 5%"> <%=pluralize(@nb_results,"résultat")%>... </h5>
<% end %>


<div class="row-fluid">
  <div class="container-fluid">
    <div class="row-fluid">
      <!--image-->
      <div class="span2 offset1">
         <%= link_to image_tag(website.photo.url(:small), :class =>"img-rounded", :alt => "image site") , "#", :class=>"websiteTitle" , :data=>{:toggle=>"modal"}, :websiteId=>website.id%>
      </div>

      <!-- detail txt -->
      <div class="span3">
        <!-- title -->
        <div class="row-fluid">
          <div class="span12">
            <h3 class="websiteTitle" websiteId="<%= website.id %>" href="" data-toggle="modal" style="cursor:pointer"><strong> <%= website.title %></strong></h3>
          </div>
        </div>

        <!-- Star rati,g -->
        <div class="row-fluid">
          <div class="span12">
            <%=  render :partial => "shared/star_rating", :locals => { :n => website.average_rate }%>
          </div>
        </div>
      </div>
      <div class="span5">
        <!-- Caption-->
        <div class="row-fluid" style="margin-top:5%">
          <div class="span12">
            <em> <%= website.caption %></em>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="line-separator"></div>
