<%#
## Website preview for voting
%>


<div class="row-fluid website">
  <div class="container-fluid">
    <!--image-->
    <div class="span3">
      <div class="row-fluid">
        <%= link_to image_tag(website.photo.url(:small), :class =>"img-rounded", :alt => "image site") , "#", :class=>"websiteTitle" , :data=>{:toggle=>"modal"}, :websiteId=>website.id%>
      </div>

      <div class="row-fluid" style="margin-top:5%;">

      </div>
      <div class="row-fluid" style="margin-top:5%;">
        <div class=" span5">
          <span class="score_voting"> <img src="/img/smile_face_medium.png"></img> <%=  website.reputation_for(:votes).to_i %> </span>

        </div>
        <% if user_signed_in?  %>
          <div class="offset2 span5">
            <%= link_to "<div class='icon-thumbs-up icon-inverse'></div>".html_safe, vote_webapp_path(website, type: "up"), method: "post", :class => "btn btn-success " %>
            <%= link_to "<div class='icon-thumbs-down'></div>".html_safe, vote_webapp_path(website, type: "down"), method: "post", :class => "btn btn-warning" %>
          </div>
        <% else %>
          <%= render :partial=>"shared/message_please_sign_in" %>
        <% end %>
      </div>
      <div class="row-fluid" style="margin-top:5%;">

        <% if user_signed_in? and website.user_id == current_user.id and website.validate == false%>
          <div class="span12">
            <%= link_to "Modifier cette suggestion" , edit_webapp_path(website)%>
            <%= link_to "Supprimer cette suggestion" , website, :confirm => "Cette action n'est pas annulable, êtes-vous sûr ?", :method => :delete%>
          </div>
        <%else%>
          <div class="span12">
            <dl>
              <dt>Proposé par :</dt>
              <dd>
              <% if website.user.avatar? %>
                <%= image_tag website.user.avatar.url(:mini), :class=>"img img-circle", :size=>"35x35" %>
              <% else %>
                <%= image_tag "/img/avatar.jpg", :class=>"img img-circle", :size=>"35x35" %>
              <%end%>
              <% if website.user.pseudo? %>
                <%= website.user.pseudo%>
              <% else %>
                user<%=  website.user.id %>
              <%end%> </dd>
              </dl>
          </div>
        <% end %>
      </div>

    </div>

    <!-- detail txt -->
    <div class="span3">
      <dl>
        <dt>Titre</dt>
        <dd> <%= website.title %></dd>
        <dt style="margin-top:5%;">Adresse</dt>
        <span> <%= link_to website.url ,website.url,:class=>"btn btn-link btn-large" %></span>

      </dl>
    </div>
    <div class="span5">

      <dl>
        <dt>Légende</dt>
        <dd> <%= website.caption %></dd>
        <dt style="margin-top:5%;">Description</dt>
        <dd> <%= website.description %></dd>
      </dl>

    </div>
  </div>

</div>

