<!-- Home Page, display website : NOUVEAUTE / SUGGESTION EN GRID -->

<div class="heading">
  <img src="/img/star-black.png" alt="" />

  <h2> <%= link_to "Nouveautés", webapps_path(:order => "recent", :layout => "true") %>
  </h2>

  <img src="/img/star-black.png" alt="" /> </div>

<div class="websites">

  <ul class="thumbnails">
    <% 3.times do |i| %>
      <li class="span4">
        <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_top_recent[i] }%>
      </li>
    <%end%>
  </ul>


  <ul class="thumbnails">
    <% 3.times do |i| %>
      <li class="span4">

        <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_top_recent[i+3] }%>


      </li>
    <%end%>
  </ul>


  <div class="heading">
    <img src="/img/star-black.png" alt="" />
    <h2> <%= link_to "Sélection", webapps_path(:order => "suggested", :layout => "true") %>
    </h2>
    <img src="/img/star-black.png" alt="" /> </div>



  <ul class="thumbnails">
    <% 3.times do |i|
      if( i<@webapps_suggest.length) %>
        <li class="span4">
          <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_suggest[i] }%>
        </li>
      <%end%>
    <%end%>
  </ul>


  <ul class="thumbnails">
    <% 3.times do |i|
      if(i+3<@webapps_suggest.length) %>
        <li class="span4">
          <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_suggest[i+3  ] }%>
        </li>
      <%end%>
    <%end%>
  </ul>

</div>  