<!-- Home Page, display website : NOUVEAUTE / SUGGESTION EN GRID -->


<h3 style="font-weight: lighter;background-color:   #669900;margin-bottom: 3%; text-align:center;"> <%= link_to "Nouveautés", webapps_path(:order => "recent", :layout => "true"),:style=>"color:black;" %></h3>
  <%#*cccc00%>

<div class="websites">

  <ul class="thumbnails">
    <% 3.times do |i| %>
      <li class="span4">
        <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_top_recent[i] }%>
      </li>
    <%end%>
  </ul>


  <ul class="thumbnails">
    <% 3.times do |i| %>
      <li class="span4">
        <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_top_recent[i+3] }%>
      </li>
    <%end%>
  </ul>

  <%= link_to "Voir plus ", webapps_path(:order => "recent", :layout => "true") ,:class=>"offset10",:style=>"color:#777777;"%><i class="icon-chevron-right"></i>


     <h3 style="background-color: #cccc00; margin-bottom: 3%;text-align:center;"><%= link_to "Sélection", webapps_path(:order => "suggested", :layout => "true") %>
      </h3> 
  <ul class="thumbnails">
    <% 3.times do |i|
      if( i<@webapps_suggest.length) %>
        <li class="span4">
          <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_suggest[i] }%>
        </li>
      <%end%>
    <%end%>
  </ul>


  <ul class="thumbnails">
    <% 3.times do |i|
      if(i+3<@webapps_suggest.length) %>
        <li class="span4">
          <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_suggest[i+3  ] }%>
        </li>
      <%end%>
    <%end%>
  </ul>
  
  <%= link_to "Voir plus ", webapps_path(:order => "suggest", :layout => "true") ,:class=>"offset10",:style=>"color:#777777;"%><i class="icon-chevron-right"></i>

</div>  