

<div class="span6 offset4">
  <h2><strong> Nouveautés </strong></h2>
</div>

<ul class="thumbnails">
  <% 3.times do |i| %>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag(@webapps_suggest[i].photo.url(:caroussel),:class =>"img-rounded", :alt => "rss feed") %>
        <%= link_to @webapps_suggest[i].title,@webapps_suggest[i+3] %>
      </div>
    </li>
  <%end%>
</ul>


<ul class="thumbnails">
  <% 3.times do |i| %>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag(@webapps_suggest[i+3].photo.url(:caroussel),:class =>"img-rounded", :alt => "rss feed") %>
        <%= link_to @webapps_suggest[i+3].title,@webapps_suggest[i+3] %>
      </div>
    </li>
  <%end%>
</ul>




<div class="row-fluid">
  <div class="span6 offset4">
    <h2><strong> Suggestions </strong></h2>
  </div>
</div>

<ul class="thumbnails">
  <% 3.times do |i| %>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag(@webapps_recommand[i].photo.url(:caroussel),:class =>"img-rounded", :alt => "rss feed") %>
        <%= link_to @webapps_recommand[i].title,@webapps_recommand[i+3] %>
        <</div>
    </li>
  <%end%>
</ul>


<ul class="thumbnails">
  <% 3.times do |i| %>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag(@webapps_suggest[i+3].photo.url(:caroussel),:class =>"img-rounded", :alt => "rss feed") %>
        <%= link_to @webapps_recommand[i+3].title,@webapps_recommand[i+3] %>
      </div>
    </li>
  <%end%>
</ul>
