<!-- Home Page, display website : NOUVEAUTE / SUGGESTION EN GRID -->
<div class="websites-box">

  <div class="heading">
    <h3 style="background-color:#7fc04c;"><%= link_to "Sélection", webapps_path(:search => "e-learning", :layout => "true") %>
    </h3>
  </div>

  <% index = -1%>
  <% 1.times do |i|%>
    <ul class="thumbnails">
      <% 3.times do |j|%>
        <%if( index+1<@webapps_suggest.length) %>
          <li class="span4">
            <%=  render :partial => "webapps/preview_website_small_grid", :locals => { :website => @webapps_suggest[index = index+1] }%>
          </li>
        <%end%>
      <%end%>
    </ul>
  <%end%>
  <%= link_to "Voir plus ", webapps_path(:order => "suggest", :layout => "true") ,:class=>"offset10",:style=>"color:#777777;"%><i class="icon-chevron-right"></i>

  <div class="heading">
    <h3 style="background-color:#cb6262"><%= link_to "e-learning", webapps_path(:search => "e-learning", :layout => "true") %>
    </h3>
  </div>

  <%= render :partial => "webapps/mosaik_websites", :locals => { :type => "e-learning" , :size=>5} %>

  <%= link_to "Voir plus ", webapps_path(:search => "e-learning", :layout => "true") ,:class=>"offset10",:style=>"color:#777777;"%><i class="icon-chevron-right"></i>


   <div class="heading">
     <h3 style="background-color:#6194d4"><%= link_to "Logements et alimentation", webapps_path(:search => "alimentation", :layout => "true") %>
    </h3>
  </div>

  <%= render :partial => "webapps/mosaik_websites", :locals => { :type => "logement+alimentation", :size=>5} %>

  <%= link_to "Voir plus ", webapps_path(:search => "alimentation", :layout => "true") ,:class=>"offset10",:style=>"color:#777777;"%><i class="icon-chevron-right"></i>


   <div class="heading">
     <h3 style="background-color:#ebd52b"><%= link_to "Voyages et transport", webapps_path(:search => "transport", :layout => "true") %>
    </h3>
  </div>

  <%= render :partial => "webapps/mosaik_websites", :locals => { :type => "transport", :size=>3} %>

  <%= link_to "Voir plus ", webapps_path(:search => "transport", :layout => "true") ,:class=>"offset10",:style=>"color:#777777;"%><i class="icon-chevron-right"></i>


   <div class="heading">
     <h3 style="background-color:#93e0e9"><%= link_to "Job", webapps_path(:search => "job", :layout => "true") %>
    </h3>
  </div>

  <%= render :partial => "webapps/mosaik_websites", :locals => { :type => "job", :size=>2} %>

  <%= link_to "Voir plus ", webapps_path(:search => "job", :layout => "true") ,:class=>"offset10",:style=>"color:#777777;"%><i class="icon-chevron-right"></i>


</div>  