
<h2><%=@title%></h2>
<legend>Soumettre un site Web</legend>
<% if user_signed_in? %>

  <%= form_for @webapp, :html => {:multipart => true, :class=>"form-horizontal"} do |f| %>
    <%= render 'shared/error_messages' %>


    <div class="field">

      <div class="control-group">
        <label class="control-label" for="webapp[title]">Nom</label>
        <div class="controls">
          <%= f.text_field :title , :class => "input-xlarge", :placeholder=>"Le nom du website..." %>
          <span class="help-inline" style="display:none">Le titre doit contenir entre 2 et 25 caractères</span>
        </div>
      </div>

    </div>
    <div class="field">
      <div class="control-group">
        <label class="control-label" for="webapp[caption]">Légende</label>
        <div class="controls">
          <%= f.text_field :caption,:class => "input-xxlarge",:placeholder=>"Phrase d'accroche..." %>
          <span class="help-inline" style="display:none">La légende doit contenir entre 30 et 200 caractères</span>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <div class="field">
          <div class="control-group">
            <label class="control-label" for="webapp[description]">Description</label>
            <div class="controls">
              <%= f.text_area :description, :class => "input-xxlarge", :placeholder=>"Donner une description du website, mettant en avant l'originalité du projet (entre 100 et 600 caractères)..." %>
              <span class="help-inline" style="display:none">La description doit contenir entre 100 et 600 caractères</span>
            </div>
          </div>
        </div>
      </div>

      <div class="span4">
        <%= render :partial => "shared/tips/tips_new_website" %>
      </div>
    </div>

    <div class="field">
      <div class="control-group">
        <label class="control-label" for="webapp[url]">Adresse URL</label>
        <div class="controls">
          <%= f.text_field :url , :placeholder=>"'http://www.monsite.fr'"%>
          <span class="help-inline" style="display:none">L'URL doit être de la forme "http://www.monsite.fr"</span>

        </div>
      </div>
    </div>


    <div class="field">
      <div class="control-group">
        <label class="control-label" for="webapp[tag_list]">Liste de tags</label>
        <div class="controls">
          <%= f.text_field :tag_list,:class => "input-large",:placeholder=>"tag1, tag2, ..." %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control-group">
        <label class="control-label" for="webapp[photo]">Image</label>
        <div class="controls">
          <%= f.file_field :photo %>
          <span class="help-inline" >Les formats acceptés sont jpg, jpeg, gif, png (taille < 1Mo)</span>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control-group">
        <label class="control-label" for="webapp[vimeo_id]">ID Vimeo</label>
         <div class="controls">
        <%= f.text_field :vimeo_id, :placeholder=>"Optionnel" %>
      </div></div>
    </div>


    <% if current_user.admin? %>
      
      <div class="field">
        <label class="control-label" for="webapp[facebook_id]">ID Facebook</label>
        <div class="controls">
           <%= f.text_field :facebook_id, :placeholder=>"Optionnel" %>
        </div>
      </div>

<div class="field">
        <label class="control-label" for="webapp[validate]">Validation</label>
        <div class="controls">
          <%= f.check_box :validate %>
        </div>
      </div>


    <% end %>


    <div class="field">
      <div class="control-group">
        <div class="controls">
          <div class="actions">
            <%= f.submit "Ajout" ,:class => "btn btn-primary btn-default" %>
          </div></div>
      </div>
    </div>

  <% end %>



<% else %>

  <p class="alert alert-error"> Vous devez être connecté pour suggérer des websites... </p>
  <%=render "shared/message_please_sign_in"%>
<% end %>

