
// USELESS FOR TESTING SOME FEATURES


$("#detailWebsiteModalTitle").html("<%= escape_javascript(@webapp.title) %>")
$("#detailWebsiteModalDescription").html("<%= escape_javascript(@webapp.description) %>")
$("#detailWebsiteModalNbVues").html("Nombre de vues : "+<%= escape_javascript(@webapp.nb_click_detail.to_s) %>)
$("#detailWebsiteModalCaption").html("<%= escape_javascript(@webapp.caption) %>")
$("#detailWebsiteModalURL").html("<%= escape_javascript(@webapp.url.to_s) %>")
$("#detailWebsiteModalURL").attr("href","<%= escape_javascript(@webapp.url.to_s) %>")
$("#detailWebsiteModal").attr("websiteId","<%= escape_javascript(@webapp.id.to_s) %>")
$("#detailWebsiteModalImage").attr("src","<%= escape_javascript(@webapp.photo.url.to_s) %>")
$("#detailWebsiteModalEdit").attr("href","/webapps/"+"<%= escape_javascript(@webapp.id.to_s) %>"+"/edit")

        var tagsList="";
            var i = 0;
            for(i =0;i< <%= escape_javascript(@webapp.tags.length) %> ;i++){
                tagsList+= "<button class='btn btn-info btn-small' type='button'>"
                            + msg.tags[i].name + " </button> <br></br>"
            }

            $("#detailWebsiteModalTagsList").html(tagsList)

  $('#detailWebsiteModal').modal('show')
