
  <div class='row-fluid'>
    <div class='span1'>
           <%= image_tag photo_url(comments.user), :class=>"img img-circle"%>
    </div>
    <div class='span3'>
      <strong>
        <% if comments.user.pseudo? %>
          <%= comments.user.pseudo%>
        <% else %>
          user<%=  comments.user.id %>
        <%end%>

      </strong>
    </div>
    <div class='span4'>
      <%= comments.created_at.strftime("%H:%M %d/%m/%Y") %>
    </div>
    <div class='span4'>
      <%=  render :partial => "shared/star_rating", :locals => { :n => comments.rating } %>
    </div>
  </div><br>
  <div class='row-fluid'>
    <div class='span12' style=' border-bottom:1px dotted #999999;margin-bottom:5%;padding-bottom : 3%'>
      <%= comments.body %>
    </div>
  </div>
