<div class="tab-pane" id="pills-basic">
  <div class="row-fluid">
    <div class="span9">
      <ul class="nav nav-pills" style="cursor:pointer">
        <li class="active"><a  data-toggle="tab" href="#tab_comments">Vos commentaires</a></li>
        <li><a   data-toggle="tab" href="#tab_suggestion">Vos suggestions</a></li>
         <li><a  data-toggle="tab" href="#tab_bookmark">Vos sites Web favoris</a></li>
      </ul>
    </div>
    <div class="span3">
      <%= link_to  "Paramètre du compte",edit_user_path(current_user), :class=>"btn"  %>
    </div>
  </div>

  <h2>Mon profil</h2>


  <div class="tab-content">

    <div id="tab_comments" class="tab-pane active">
      <legend>Mes commentaires</legend>
      <div class="container-fluid" style="margin-top:5%;" id="tab_comments"">
             <% if @user.comments.length != 0 %>
           <div class="span12">
               <%=  render :partial => "comments/show", :collection => @user.comments, :as=> :comments %>
        </div>
           <% else %>
           Aucun commentaire. Partagez votre avis sur les sites Web via l'onglet "Avis des internautes".
            <% end %>
      </div>
    </div>

    <div id="tab_suggestion" class="tab-pane">
      <legend>Mes suggestions</legend>
      <div class="container-fluid" style="margin-top:5%;" id="tab_comments"">
           <div class="span11">
             <% if @user.webapps.length != 0 %>
          <div class="websites">
            <%=  render :partial => "webapps/website_list_voting", :collection => @user.webapps, :as => :website %>
          </div>
             <% else  %>
             Aucune suggestion enregistrée, pour proposer un site Web <%= link_to "cliquez ici", new_webapp_path %>
             <% end %>
        </div>
      </div>
    </div>

     <div id="tab_bookmark" class="tab-pane">
      <legend>Mes sites Web favoris</legend>
      <div class="container-fluid" style="margin-top:5%;" id="tab_comments"">
           <div class="span11">
             <% if @user.webapps_starred.length != 0 %>
          <div class="websites">
            <%=  render :partial => "webapps/preview_website_large_grid", :collection => @user.webapps_starred, :as => :website %>
          </div>
             <% else  %>
             Aucun sites favoris enregistré. Cliquer sur l'étoile en haut à droite de la fenêtre de détail pour mémoriser le site.
             <% end %>
        </div>
      </div>
    </div>

  </div>

</div>

