<!-- HTML code for the top bar -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "EnjoyTheWeb beta", accueil_path, :class=>"brand"%>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            <% if current_user.try(:admin?) %>
              <span class="label label-important">Admin</span>
            <% else %>
              <span class="label label-info">Membre</span>
            <% end %>
            Connecté en tant que <%= current_user.email %>.
            <span class="badge">  <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete, :style=>"color:white;"%></span>
          <% else %>

            <span id="login" class="badge badge-info">Connexion</span> ou <span class="badge badge-success"><%= link_to "Inscription", new_user_registration_path ,:style=>"color:white;"%></span>
          </p>
          <div id="loginHtml" class="hide">

            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div class="control-group">

                <div class="controls">
                  <%= f.email_field :email, :placeholder=>"email",:class=>"input-medium" %></div>
              </div>
              <div class="control-group custom_inline" >
                <div class="controls">
                  <%= f.password_field :password, :placeholder=>"password",:class=>"input-medium"%></div>
              </div>
              <div class="" style="margin-bottom:0%;"><%= f.submit "Se connecter via mes identifiants",:class=>"btn btn-success btn-small" %></div>
            <% end %>
              <div class="line-separator"></div>
              <p> Ou connectez-vous avec : </p>
            <div id="openIdProviders">
              <a class="openIdProvider hover_green" id="facebookLogIn" href="/auth/facebook">Facebook</a>
              <a class="openIdProvider soon hover_green" id="googleLogIn" href=""> Google </a>
              <a class="openIdProvider soon hover_green" id="twitterLogIn" href="">Twitter </a>
             </div>
          </div>

        <% end %>

      </div>


      <ul class="nav">
        <li class="active"><%= link_to "Home", accueil_path%></li>
        <li><%= link_to "Nos valeurs", about_path %></li>
        <li><%= link_to "Suggérer un site", suggestion_path %></li>
        <% if current_user.try(:admin?) %>
          <li><%= link_to "Modérer les sites", moderation_websites_path %></li>
          <li><%= link_to "Modérer les utilisateurs", moderation_users_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
