<!-- HTML code for the top bar -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "EnjoyTheWeb <sup>beta</sup>".html_safe, root_path, :class=>"brand"%>
      <div class="nav-collapse collapse">

          <% if user_signed_in? %>
             
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle btn-primary btn-small" data-toggle="dropdown" href="#">
             <%= current_user.email %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
               <li> <%= link_to "Mon profil", user_path(current_user) %></li>
              <li> <%= link_to "Options", edit_user_path(current_user) %></li>
              <li>  <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete%></li>
            </ul>
          </div>             
          <% else %>
        <div class="pull-right" style="margin-top:0.7%;">
            <span id="login" class="badge badge-info">Connexion</span> ou <span class="badge badge-success"><%= link_to "Inscription", new_user_registration_path ,:style=>"color:white;"%></span>
        </div>
          <%= render :partial => "layouts/login_popover/login_popover" %>
        <% end %>


        <%= form_tag webapps_path, :method => :get, :class=>"navbar-search pull-right" , :style=>"margin-right:5%;" do %>
          <%= text_field_tag :search, params[:search],:class=>"search-query", :placeholder=>"Rechercher" %>
          <%= submit_tag "Search",:class=>"hide" %>
        <% end %>


      <ul class="nav">
        <li class="active"><%= link_to " <i class='icon-home icon-white'></i>".html_safe, root_path%></li>
        <li><%= link_to "Nos valeurs", about_path %></li>
        <li><%= link_to "Suggérer un site", suggestion_path %></li>
 
        <li><%= link_to "Vote",  webapps_path(:layout=>"true",:order=>"unvalidated") %></li>
        <li><%= link_to "<i class='icon-random icon-white'></i> Aléatoire".html_safe, webapps_path(:layout=>"true",:order=>"random") %></li>
        <% if current_user.try(:admin?) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admininistration<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Modérer les sites", webapps_path(:layout=>"true",:order=>"moderate") %></li>
              <li><%= link_to "Modérer les utilisateurs", moderation_users_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
           </div>
    </div><!--/.nav-collapse -->
  </div>
</div>
