<!-- HTML code for the top bar -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "EnjoyTheWeb <sup>beta</sup>".html_safe, accueil_path, :class=>"brand"%>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            <% if current_user.try(:admin?) %>
              <span class="label label-important">Admin</span>
            <% else %>
              <span class="label label-info">Membre</span>
            <% end %>
            Connecté en tant que <%= current_user.email %>.
            <span class="badge">  <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete, :style=>"color:white;"%></span>
          <% else %>

            <span id="login" class="badge badge-info">Connexion</span> ou <span class="badge badge-success"><%= link_to "Inscription", new_user_registration_path ,:style=>"color:white;"%></span>
          </p>
          <%= render :partial => "layouts/login_popover/login_popover" %>
        <% end %>

      </div>


      <ul class="nav">
        <li class="active"><%= link_to "Home", accueil_path%></li>
        <li><%= link_to "Nos valeurs", about_path %></li>
        <li><%= link_to "Suggérer un site", suggestion_path %></li>
        <% if current_user.try(:admin?) %>
          <li><%= link_to "Modérer les sites", moderation_websites_path %></li>
          <li><%= link_to "Modérer les utilisateurs", moderation_users_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
