<h2>Connexion à votre compte</h2>

<div class="container-fluid">

  <div class="span5">
    <h2><small>Via vos identifiants...</small></h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="control-group">
        <label class="control-label" for="user[email]">Email</label>
        <div class="controls">
          <%= f.email_field :email %></div>
      </div>
      <div class="control-group">
        <label class="control-label" for="user[password]">Password</label>
        <div class="controls">
          <%= f.password_field :password %></div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="control-group">
          <label class="control-label custom_inline" for="user[remember_me]">Se souvenir de moi</label>
          <div class="controls custom_inline">
           <%= f.check_box :remember_me %>
          </div>
        </div>
      <% end -%>

      <div><%= f.submit "Se connecter" , :class=>"btn btn-info"%></div>
    <% end %>


    <%= render "devise/shared/links" %>
  </div>
  <div class="span7">
    <h2><small>...ou utiliser l'un de vos comptes existants parmi les services suivants :</small></h2>

    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "/img/facebook_128.png", :size => "128x128", :alt => "Facebook" %>
      Facebook
    </a>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "/img/google_128.png", :size => "128x128", :alt => "Google" %>
      Google
    </a>
    <a href="/auth/facebook" class="auth_provider" >
      <%= image_tag "/img/twitter_128.png", :size => "128x128", :alt => "Twitter" %>
      Twitter
    </a>
  </div>

</div>
