 <div class="carousel slide span12" id="myCarousel">
<div class="carousel-inner">
  <div class="item active">
        <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                     <%= image_tag("figaro.jpg", :alt => "rss feed") %>

                </div>
            </li>
            
           <li class="span6">
                <div class="thumbnail">
                     <%= image_tag("lemonde.jpg", :alt => "rss feed") %>
                </div>
            </li>
        </ul>
  </div>
  <div class="item">
       
               <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                     <%= image_tag("rue89.jpg", :alt => "rss feed") %>
                </div>
            </li>
            <li class="span6">
                <div class="thumbnail">
                    <%= image_tag("libe.jpg", :alt => "rss feed") %>
                </div>
            </li> 
        </ul>
  </div>
  <div class="item">
               <ul class="thumbnails">
            <li class="span6">
                <div class="thumbnail">
                     <%= image_tag("equipe.jpg", :alt => "rss feed") %>
                </div>
            </li>
            <li class="span6">
                <div class="thumbnail">
                    <%= image_tag("lmd.jpg", :alt => "rss feed") %>
                </div>
            </li>
        </ul>
  </div>
</div>
<a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
<a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
</div>