<!-- This file is the main default html code of the web site -->

<!doctype html>
<html>
  <head>
    <title>EnjoyTheWeb - Surfer autrement !</title>
    <%= render('layouts/headers')%>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!--<%= render('layouts/topbar') %>-->
    <div class="row-fluid">
      <div class="span6 offset3">
        <%= render('layouts/caroussel') %>
      </div>
    </div>
    <div class="container-fluid">     

      <div class="row-fluid">
        <div class="span3">
          <%= render('layouts/left_menu/leftmenu') %>
        </div><!--/span-->

        <div class="span9">

          <%= render 'layouts/flash_messages' %>
          <%= yield %>

        </div>
      </div>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div><!--/.fluid-container-->
  </body>
</html>