<!-- This the template html used when controller PAGES is called -->

<!doctype html>
<html>
  <head>
    <title>EnjoyTheWeb - Surfer autrement !</title>
    <%= render('layouts/skeleton/headers')%>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render('layouts/skeleton/topbar') %>

    <div class="container-fluid" style="margin-top: 2%">


      <div class="row-fluid" >
   
        <div class="span10 offset1">
           <%= render 'shared/flash_messages' %>
          <div class="hero-unit">
            <%= yield %>
          </div>
        </div>
      </div>

    </div><!--/.fluid-container-->

    <%= render 'layouts/skeleton/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>