<!-- This the template html used when controller WEBAPPS is called -->
<!-- Template with top bar/carousel/leftmenu/mainview -->
<!doctype html>
<html>
  <head>
    <title>EnjoyTheWeb - Surfer autrement !</title>
    <%= render('layouts/skeleton/headers')%>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render('layouts/skeleton/topbar') %>
    <div class="span12 offset1">
      <%= render 'shared/flash_messages' %>
    </div>
    <div class="row-fluid" style="margin-bottom:2%; font-family: brandoltFet; color:#115900 ;">
      <div class="offset2 span9">
        <h2>  Découvrez et partagez les projets innovants et créatifs du Web !
        </h2>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span10 offset1" style="/*background-image:url(/img/pattern_152.gif) ;  box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.6);  margin-bottom: 0%;padding:0%;*/">
        <%= render('layouts/caroussel/caroussel') %>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3 offset1">
          <%=  render :partial => "layouts/left_menu/leftmenu", :locals => { :webapps_recents  => @webapps_top_recent} %>
        </div><!--/span-->
        <div class="span7" style="margin-left:0.5%;margin-right: 0%;width:60%;">
          <%= render('layouts/main_view/main_view') %>
        </div>
      </div>
       </div><!--/.fluid-container-->
      <%= render 'layouts/skeleton/footer' %>
      <%= debug(params) if Rails.env.development? %>

  </body>
</html>