<!-- This the template html used when controller WEBAPPS is called -->
<!-- Template with top bar/carousel/leftmenu/mainview -->
<!doctype html>
<html>
  <head>
    <title>EnjoyTheWeb - Découvrir le web collaboratif !</title>
    <%= render('layouts/skeleton/headers')%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div style="background: url('/img/background-front.png') repeat; margin-bottom:2%;">
      <%= render('layouts/skeleton/topbar') %>
      <div class="span12 offset1 main-flash">
        <%= render 'shared/flash_messages' %>
      </div>
      <div class="row-fluid main-title">
        <div class="offset1 span10">
          <h2>  Découvrez et partagez les projets innovants du Web collaboratif !
          </h2>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span10 offset1">
          <%= render('layouts/caroussel/caroussel') %>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div id="main-menu" class="span3 offset1">
          <%=  render :partial => "layouts/left_menu/leftmenu", :locals => { :webapps_recents  => @webapps_top_recent} %>
       
        </div><!--/span-->
        <div id="main-view" class="span7" style="">
          <%= render('layouts/main_view/main_view') %>
          <div class="hero-unit sub_custom_box_straight">
            <div class="row-fluid">
              <div class="span4">
                <h2 style="text-align:center;">Construire</h2>

                <p>  Construisez EnjoyTheWeb en choisissant parmi les sites proposés ceux que vous souhaitez voir dans la galerie.</p>
                <p><a href="/webapps?layout=true&order=unvalidated" class="btn btn-block btn-primary">Voter</a></p>
              </div>


              <div class="span4">
                <h2 style="text-align:center;">Partager</h2>
                <p>   Vous connaissez un site génial innovant ou créatif ? Proposez-le et faites-le découvrir aux autres internautes.</p>
                <p><a href="/suggestion" class="btn btn-block btn-primary">Suggérer</a></p>
              </div>

              <div class="span4">
                <h2 style="text-align:center;">Motivations</h2>

                <p> Donner davantage de visibilité aux sites web  qui proposent toute sortes de solutions alternatives ou innovantes.</p>
                <p><a href="/about" class="btn btn-block btn-primary">En savoir plus</a></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div><!--/.fluid-container-->
    <%= render 'layouts/skeleton/footer' %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>