<!-- This the template html used when controller WEBAPPS is called -->
<!doctype html>
<html>
  <head>
    <title>EnjoyTheWeb - Surfer autrement !</title>
    <%= render('layouts/headers')%>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render('layouts/topbar') %>
    <div class="row-fluid">
      <div class="span12">
        <%= render('layouts/caroussel/caroussel') %>
      </div>
    </div>
    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span3">
          <%=  render :partial => "layouts/left_menu/leftmenu", :locals => { :webapps_recents  => @webapps_top_recent} %>

        </div><!--/span-->
          

        <div class="span9">
          <%= render 'layouts/detail_popup_website' %>
          <%= render 'layouts/flash_messages' %>
          <%= render('layouts/topbar') %>
          <%= render('layouts/main_view/main_view') %>
        </div>
      </div>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div><!--/.fluid-container-->
  </body>
</html>